*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .container{
    width: 1000px;
    margin: 3rem auto;
} */

/* .worker-list{
    list-style-type: none;
} */

.team-card{
    width: calc(100% / 3 - 40px);
    margin: 20px;
}

.card-text{
    text-align: center;
}